Repository JavaHammes/Z, pull requests merged in 2025-01, with the labels that each got.

#32 Improve build instructions
  README.md
  src/debuggee.c
Labels: enhancement

#31 ASLR Offset Calculation and Breakpoints at Function Names or Offsets
  CMakeLists.txt
  include/debuggee.h
  mock_target/mock_target.c
  src/debuggee.c
  src/debugger.c
  src/debugger_commands.c
  tests/test_debugger.c
Labels: enhancement, default debugger

#34 Display Global Variables and Function Names, Watchpoints, Skip, Jump and Trace
  CMakeLists.txt
  include/debuggee.h
  include/debugger_commands.h
  include/symtab.h
  mock_target/mock_target.c
  src/debuggee.c
  src/debugger.c
  src/debugger_commands.c
  src/symtab.c
Labels: enhancement, default debugger

#37 Catchpoints
  include/breakpoint_handler.h
  include/debuggee.h
  include/debugger_commands.h
  mock_target/mock_target.c
  src/breakpoint_handler.c
  src/debuggee.c
  src/debugger.c
  src/debugger_commands.c
Labels: enhancement, default debugger

#38 Catchpoints For Events
  include/breakpoint_handler.h
  include/debuggee.h
  mock_target/mock_target.c
  src/breakpoint_handler.c
  src/debuggee.c
  src/debugger.c
Labels: enhancement, default debugger

#39 Bug Fix
  include/breakpoint_handler.h
  include/debuggee.h
  mock_target/mock_target.c
  src/breakpoint_handler.c
  src/debuggee.c
  src/debugger.c
  src/debugger_commands.c
Labels: critical, default debugger

#41 Bypass PTRACE_TRACEME to Prevent Debugger Detection
  CMakeLists.txt
  include/breakpoint_handler.h
  include/debuggee.h
  include/debugger_commands.h
  include/macros.h
  lib/ptrace_override.c
  mock_target/mock_target.c
  src/breakpoint_handler.c
  src/debuggee.c
  src/debugger.c
  src/debugger_commands.c
  src/main.c
  tests/test_debugger.c
  tests/test_macros.h
Labels: critical, anti-anti-debugger

#43 Override fopen to intercept checking proc/self/status
  CMakeLists.txt
  lib/fopen_override.c
  mock_target/mock_target.c
  src/debugger.c
Labels: critical, anti-anti-debugger

#46 Add a Warning to specific Timing Functions
  .github/workflows/c.yml
  CMakeLists.txt
  mock_target/mock_target.c
  src/debuggee.c
Labels: critical, anti-anti-debugger
